* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: 400%;
  align: center;
  background: #132533;
  justify-content: center;
}
.wrap {
  position: absolute;
  color: white;
  height: 140px;
  width: 100%;
}
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.menu li {
  display: grid;
  justify-content: center;
  align: center;
  list-style: none;
  cursor: pointer;
  margin-left: 60px;
  margin-right: 60px;
  margin: 20px;
}

a {
  justify-content:center;
  align:center;
  font-size: 16;
  margin:0 auto;
  height:100%;
  display:flex;
  width: 100%;
  -webkit-appearance: none;
  font-weight: 800;
  font-family: "Helvetica", sans-serif;
  font-style: italic;
  text-align: center;
  vertical-align: center;
  letter-spacing: 5px;
  color: #fff;
  text-decoration: none;
  -webkit-appearance: none;
  padding: 1em 3em;
  border-width:auto;
  background-size: 100%;
  background-radius:50px;
  background-clip: padding-box;
  border-padding: 1em 3em;
  position: relative;
  color: #FFF;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-hover {
  width: 270px;
  font-size: 16px;
  font-weight: 800;
  font-style: italic;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 100%;
  text-align: center;
  text-decoration: none;
  border-size:270px;
  background-size: 300% 100%;
  border-radius: 50px;
  
  width: 100%;

  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #8440e4,
    #aa40e3,
    #e44066
  );
  box-shadow: 0 7px 25px 3px rgba(0, 0, 0, 0.75);
}

.btn-hover1 {
  width: 100px;
  font-size: 16px;
  font-weight: 800;
  font-style: italic;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: hidden;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover1:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover1:focus {
  outline: none;
}


.banner {
  width: 80%;
  height: 70%;
  top: 25%;
  left: 130px;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 850px;
  height: 250px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.3),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 60px;
  font-style: italic;
  letter-spacing: 6px;
  margin: -160px;
}

.card:hover {
  translate:0.1, 0.1;
  transform: skew(0.97, 0.97);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card1 {
  margin: 30px auto;
  width: 850px;
  height: 250px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.3),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
}

.card1 .card_image1{
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card1 .card_image1 img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card1 .card_title1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 60px;
  font-style: italic;
  letter-spacing: 6px;
  margin: -160px;
}

.card1:hover {
  translate:0.1, 0.1;
  transform: skew(0.97, 0.97);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
  text-align:center;
}

.title-black {
  color: black;
}

p {
  width:850px;
  font-size:20;
  line-height:1.5;
}

p1 {
  width:70%;
  text-align:center;
  font-size:28;
  line-height: 1.5;
  text-align:justify;
}
h2 {
  letter-spacing:5px;
  font-style:italic;
  font-size:28;
  line-height:2
  
}
h3 {
  letter-spacing:5px;
  font-style:italic;
  font-size:28;
  line-height:1;
  
}

.container2 {
  margin:auto;
  width: 850px;
  align: center;
  justify-content: center;
}
.container3 {
  margin:auto;
  width: 850px;
  align: center;
  justify-content: center;
}

:root,
:host,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  letter-spacing: 0.5px;
  background: linear-gradient(to bottom right, #fa8ced, #fffd90);
  color: #222;
}
:root .containerA,
:host .containerA,
html .containerA,
body .containerA {
  background: linear-gradient(to bottom right, #fa8ced, #fffd90);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: grid;
  place-content: center;
}
:root .containerA .card,
:host .containerA .card,
html .containerA .card,
body .containerA .card {
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(255, 255, 255, 0.3), inset 2px 2px 5px rgba(255, 255, 255, 0.3), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
}
:root .containerA h1,
:host .containerA h1,
html .containerA h1,
body .containerA h1 {
  margin: auto;
  margin-bottom: 1.5rem;
  width: 90%;
  max-width: 300px;
}
:root .containerA p,
:host .containerA p,
html .containerA p,
body .containerA p {
  margin: auto;
  max-width: 300px;
  width: 90%;
}